#categories-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#categories-container li,.details{
    cursor: pointer;
}
#categories-container li:hover {
    text-decoration: underline;
}